/* Background image and body formatting */
body{
    padding:0;
    margin:0;
    background-image:url(../background_image.jpg);
    font-family:Georgia, 'Times New Roman', Times, serif;
}
/* NavBar Styling */
.navbar-brand{
    padding: 10px 20px;
    background-color: #4aaaa5;
    color: white !important;
    font-size:32px;
    font-weight: bold;
    margin-left: 5%;
}

/*About Me Styling */
h2{
    color:#4aaaa5;
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-color: gray;
}

.headshot{
    width:200px;
    height: auto;
    margin-right: 10px;
}

/* Applies to Portfolio and Contact Containers */
.about_me{
    background-color: white;
    margin-top:20px;
    margin-bottom: 100px;
    margin-left: 5%;
    padding: 20px;
}

/* Footer styling */
.navbar-text{
    color:white !important;
    margin:0 auto;
    font-size: 10px;
}

footer{
    border-top: 8px solid #4aaaa5;
    font-size: 10px;
}

.portfolio-img {
    margin: 20px;
}


