/* Background image and body formatting */
body{
    padding:0;
    margin:0;
    font-family: 'Open Sans', sans-serif;
}
/* NavBar Styling */
.navbar-brand{
    padding: 10px 20px;
    font-weight: bold;
}

/* Page Header Stying */
h2{
    font-weight: bold;
    border-bottom-style: solid;
    border-bottom-color: lightgray;
}

/* Headshot Styling */
.headshot{
    width:5rem;
    height: auto;
    
}

.row {
    margin-bottom: 5rem;
}
/* Footer styling */
.navbar-text{
    margin:0 auto;
    font-size: 10px;
}

footer{
    border-top: 8px solid gray;
    font-size: 10px;
}

.list-group-item { 
    border:none;
    font-size: 1rem;
}
.icon { 
    width:2rem;
    height: auto;
}
.card-header { 
    width: 500px;
    height: auto;
}